* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 50vw;
  margin: 0 auto;
  font-family: "Inconsolata", monospace;
}
#title {
  margin: 10px 0px;
}
.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  min-height: 20vh;
  background-color: #fff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-submit input {
  padding: 5px 10px;
  margin-right: 5px;
  width: 100%;
}
#add {
  font-size: 2rem;
  cursor: pointer;
  border: none;
}
.fa-square-plus {
  color: #7adaff;
}
.element {
  background-color: rgb(235 235 235);
  margin: 10px 0px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

.first-half {
  width: 100%;
  display: flex;
  align-items: center;
}
.todo-title {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}
.second-half {
  display: flex;
  align-items: center;
}
.fa-pen-to-square,
.fa-floppy-disk {
  color: #5b8eeb;
  cursor: pointer;
  margin-right: 5px;
}
.fa-trash {
  color: red;
  cursor: pointer;
}
.first-half > *,
.second-half > * {
  margin-right: 5px;
}

.todoinf_actions {
  display: none;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px; */
}
.todoinf_actions p {
  font-size: 14px;
  font-weight: 600;
}
.todoinf_actions button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
